.header {
    
    .navigation--main {
        display: inline-flex;
        
        &__list {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            
            list-style: none;
            text-align: center;
            margin-left: 10%;
        }
    
    
        &__link {
        &:link,
        &:visited {
            display: inline-block;
            font-size: 2rem;
            font-weight: 300;
            padding: 1rem 2rem;
            color: $color-primary-dark;
            text-decoration: none;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-white 50%);
            background-size: 220%;
            transition: all .4s;
    
            span {
                margin-right: 1.5rem;
                display: inline-block;
            }
        }
        
        &:hover,
        &:active {
            background-position: 100%;
            color: $color-grey-dark;
            transform: translateX(1rem);
        }
        }
    }

    .kasten {
        background-image: linear-gradient(to right, transparent, #64969f);
        background-size: cover;
        max-height: 53rem;
        display: inline-flex;
        width: 100%;
        
        
        .div {
            text-align: center;            
        }
        
        .div2 {
            padding: 10rem 0;
            
        }
        
        img {
            margin-bottom: -.5rem;
        }

        &--nav {
            display: inline-flex;
            background: $color-white;
            height: auto;

            .div1 {
               padding: 0 3rem;
            }

            .div2 {
                padding: 0;
            }
        }
    }
}